; [MESSAGES CONTROL]
; disable = C0114, W0611, C0410

; [FORMAT]
; max-line-length = 120

; [REPORTS]
; output-format = colorized


# C0114: Missing module docstring (missing-module-docstring)
# W0611: Unused import sys (unused-import)
# C0410: Multiple imports on one line (sys, os) (multiple-imports)